
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@* <h1>Index</h1> *@

@* @{ *@
@*     Layout = "~/Views/Shared/_DashboardLayout.cshtml"; *@
@* } *@

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Total Projects</h5>
                <p class="card-text fs-4">25</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Active Users</h5>
                <p class="card-text fs-4">10</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-warning mb-3">
            <div class="card-body">
                <h5 class="card-title">Open Tickets</h5>
                <p class="card-text fs-4">7</p>
            </div>
        </div>
    </div>
</div>
